{% extends 'base.html' %}
{% block title %}名录{% endblock %}
{% block main %}

<div class="catalog">

  <div class="traditional music">
    <img src="../static/img/directory_img/music.png" alt="传统音乐">
    <a href="#">传统音乐</a>
  </div>
  
  <div class="traditional cuisine">
    <img src="../static/img/directory_img/food.png" alt="非遗美食">
    <a href="#">非遗美食</a>
  </div>
  
  <div class="traditional skill">
    <img src="../static/img/directory_img/skill.png" alt="传统技艺">
    <a href="/skill">传统技艺</a>
  </div>
  
  <div class="traditional dance">
    <img src="../static/img/directory_img/dance.png" alt="传统舞蹈">
    <a href="#">传统舞蹈</a>
  </div>
  
  <div class="traditional tale">
    <img src="../static/img/directory_img/tale.png" alt="民间典故">
    <a href="#">民间典故</a>
  </div>

</div>

<script src="{{ url_for('static', filename='js/directory.js') }}"></script>
{% endblock %}

{% block style %}
<style>
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* 替换继承过来的属性，否则溢出无法生效 */
.body-bg {
  background-repeat: no-repeat; /*图片不重复*/
  overflow: auto; /*溢出*/
  background-attachment: fixed;
}

.catalog {
  display: flex;
  justify-content: space-around;

  height: 500px;
  margin-top: 50px;
}

.traditional {
  border: 1px solid red;
  border-radius: 10px;
  background-color: antiquewhite;
  width: 180px;
  height: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.traditional a {
  font-style: italic;
  font-size: 20px;

  margin-bottom: 20px;
}

.traditional img {
  width: 140px;
  height: 220px;

  margin-top: 20px;
}

</style>
{% endblock %}