{% extends 'base.html' %}
{% block title %}传统技艺{% endblock %}
{% block main %}
<h1></h1>

<div class="content">

  <div class="img">
    <img src="" alt="">
    <img src="" alt="">
  </div>

  <div class="text">
    <p></p>
  </div>

</div>

<script src="{{ url_for('static', filename='js/cultural_intro.js') }}"></script>
{% endblock %}

{% block style %}
<style>
/* 替换继承过来的属性，否则溢出无法生效 */
.body-bg {
  overflow: auto; /*溢出*/
}

h1 {
  font-style: italic;
  font-family: '华文行楷', '宋体', cursive;
  font-size: 48px;

  margin-left: 180px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 40px;
  gap: 20px;
}

.img {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.img img {
  border-radius: 10px;
}

.text {
  width: 60%;
  height: 100%;
  
  border: 2px solid rgba(94, 77, 71, 0.6);
  border-radius: 50px;
  background-color: rgba(236, 190, 161, 0.8);
  opacity: 0.8;
}

.text p {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  
  padding: 24px 16px;
}

</style>
{% endblock %}