{% extends 'base.html' %}
{% block title %}传统技艺{% endblock %}
{% block main %}

<h1>传统技艺</h1>

<ul class="all-skill" style="list-style-type: none;"></ul>

<script src="{{ url_for('static', filename='js/skill.js') }}"></script>
{% endblock %}

{% block others %}
<style>
/* 替换继承过来的属性，否则溢出无法生效 */
.body-bg {
  overflow: auto; /*溢出*/
}

.all-skill {
  height: 400px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill a {
  font-size: 36px;
}

.skill img {
  width: 300px;
  height: 300px;
}

</style>
{% endblock %}